<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="flexi2">

      <fieldset>

        <%= simple_form_for(@profile) do |f| %>


        <div class='kickass_field'>
          <span class= "adapt"> First name</span>
          <%= f.input :first_name , label:false%>
        </div>

        <div class='kickass_field'>
            <span class= "adapt">Last name</span>
          <%= f.input :last_name ,label:false%>
        </div>

    <div class='kickass_field'>
       <span class= "adapt">Username</span>
        <%= f.input :user_name ,label:false%>
      </div>

      <div class='kickass_field'>
         <span class= "adapt">How old are you ?</span>
           <%= f.input :age,label:false %>
        </div><b>

      <div class='kickass_field'>
          <span class= "adapt">Favorite ingredient?</span>
        <%= f.input :quote, label:false %>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">

       <%= f.submit "Update your profile", class: "button"%>
      <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden, class: "form-control" %>

      </div>
    </div>

        <% end %>
      </fieldset>
      </div>
    </div>
  </div>
</div>


<!--

<fieldset>
<div class='kickass_field'>
<input maxlength='30' required='required'>
<lable>
Username
<span>Your chosen username</span>
</lable>
</div>
<div class='kickass_field'>
<input maxlength='30' required='required' type='email'>
<lable>
Email address
<span>Your current email address</span>
</lable>
</div>
<div class='kickass_field'>
<input maxlength='30' pattern='.{6,}' required='required' type='password'>
<lable>
Password
<span>Minimum of 6 characters</span>
</lable>
</div>
<button>Sign up</button>
</fieldset>
-->
