
<div class="containerr">
  <div class="row">
    <div class="col-xs-12 col-lg-3 stick">
        <div class="kard hoverkard">
          <div class="kardheader">
            <% avatar_url = @profile.picture.url || "http://placehold.it/150x150" %>
            <%= image_tag avatar_url, class: "avatare" %>
          </div>

          <div class="infoe">
            <%if @profile.first_name%>
            <div class="title"> Bienvenue, <%="#{@profile.first_name}"%>  !</div>
            <%end%>
           <div class="desc"> email : <%=current_user.email %></div>

            <%if @profile.age%>
            <div class="desc"><%= "age : #{@profile.age} y.o"%></div>
            <%end%>
            <%if @profile.quote%>
            <div class="desc"> favorite ingredient : the <%=@profile.quote%></div>
            <%end%>
            <br>
            <b><%= link_to "customize your profile !", edit_profile_path(@profile), class: "btn-danger btn-goback"%></b>
          </div>


    </div>
</div>
<div class="col-xs-12 col-lg-9">
  <div class="kard favorite-section">
    <div class='favorite-hero'></div>
    <h1 class='favorite_head'> Your favorites recipes</h1>
    <div class='favorites'>
      <% if current_user and @favorites.length > 0 %>
      <% i = 1 %>
      <% @favorites.each do |favorite| %>
      <% recipe = Recipe.find(favorite.recipe_id) %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-container">
          <%= link_to recipe_path(recipe) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= if recipe.picture.url == nil
            image_path('https://placeholdit.co//i/500x500?')
          else
            cl_image_path recipe.picture.url
          end
          %>')">
        </div>
        <%end%>

        <div class="link-box-profile">
          <%= link_to recipe_path(recipe) do %>
          <%=recipe.name.capitalize%>
          <% if recipe.reviews.size != 0 %>
          <% arr = [] %>
          <% recipe.reviews.each do |review| %>
          <% arr << review.rating %>
          <% end %>
          <% average = arr.inject{ |sum, el| sum + el }.to_f / arr.size %>
          <p> rating : <%= average.round(1) if average %> / 5</p>
          <% else %>
          <p> waiting for a rating !</p>
          <%end%>
          <%end%>
        </div>

      </div>
    </div>
    <% end %>
    <% else %>
    <h4><b>You don't have any favorite recipes?  <%= link_to 'Go Back', root_path, class: 'btn-danger btn-goback' %> and pick some as shown below !</b> </h4>

        <div class="card-containerbigger">
    <div class="cardbigger" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path("GIFF_h3ubwd.gif")%>')">
    </div>
</div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>


