<div class="container container_sign_up">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-5 col-lg-offset-4">
      <h3>Sign up</h3>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>

          <%= f.input :email, required: true, placeholder: "Email", label: false, autofocus: true, class: "form-control" %>
        </div>
        <span class="help-block"></span>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>

          <%= f.input :password, required: true, placeholder: "Password (min 6 characters)", label: false, class: "form-control" %>
        </div>
<br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <%= f.input :password_confirmation, required: true, placeholder: "Repeat password", label: false, class: "form-control" %>
        </div>
      </div>
        <span class="help-block"></span>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
