




    <div class="reviews-container">




      <div class="col-xs-12 col-lg-12" >
      <br>
        <h4>
          <b>  <% arr = [] %>
            <%if @recipe.reviews.size != 0 %>
              <% @recipe.reviews.each do |review| %>
              <% arr << review.rating %>
              <% end %>
              <% average = arr.inject{ |sum, el| sum + el }.to_f / arr.size %>
              Average rating on this recipe: <%= average.round(1) %> / 5
            <%end%>
          </b>
          </h4>
        <br>
      </div>



    <div class="col-xs-12 col-lg-8 col-lg-offset-2 ">
        <%= simple_form_for [@recipe, @review] do |f| %>
        <div class="input-group">
        <span class="input-group-addon addon2"><i class="fa fa-pencil-square-o"></i></span>
          <%= f.input :content, placeholder: 'write your review',label:false, class: "form-control"  %>


          </div>
          </br>
          <div class="input-group">
            <span class="input-group-addon addon2"><i class="fa fa-star-half-o "></i></span>

          <%= f.input :rating ,placeholder: 'rate this recipe', label:false,class: "form-control"  %>
          <span class="input-group-addon addon2"><i class=""></i></span>

          </div>
          </br>

          <div class="row">

          <div class="col-xs-4 col-xs-offset-4 ">
          <%= f.submit "add a review", class: "btn btn-lg btn-primary btn-block btn-special ecriture colorblue" %>
          </div>
        </div>


        <% end %>
        <br>
      </div>



      <div class="row">
        <div class="col-xs-10 col-lg-10 col-lg-offset-1 ">
          <div class ="row">

            <% @recipe.reviews.reverse.each do |review| %>
              <% if review.picture.url == nil%>

                <ul class="message-box" id="content">
                  <div class ="col-xs-3 col-lg-4">
                    <div class ="user-box">
                      <% avatar_url = review.user.profile.picture.url || "http://placehold.it/30x30" %>
                      <%= image_tag avatar_url, class: "avatar" %>
                      <p class="user-info"> <strong><%= review.user.profile.user_name %> </strong> <br> rate : <%= review.rating  %> / 5  </p>
                    </div>
                  </div>
                  <div class ="col-xs-8 col-lg-9">
                    <p class="patate"> <%=review.content %> </p>
                  </div>
                  <br>
                </ul>
                <p class="accepted">
                  <strong>
                    <%= link_to "Delete", review_path(review), method: :delete, data: { confirm: "Are you sure?" }%>
                  </strong>
                  <br>
                </p>
              <%else%>
                <ul class="message-box" id="content">
                  <div class ="col-xs-3 col-lg-4">
                    <div class ="user-box">
                      <% avatar_url = review.user.profile.picture.url || "http://placehold.it/30x30" %>
                      <%= image_tag avatar_url, class: "avatar" %>
                      <p class="user-info">
                        <strong><%= review.user.profile.user_name %> </strong> <br> rate : <%= review.rating  %> / 5
                      </p>
                    </div>
                  </div>

                  <div class ="col-xs-5 col-lg-5">
                    <p class="patate">
                      <%=review.content %>
                    </p>
                  </div>
                  <div class ="col-xs-3">
                    <div class= "img">
                      <%= cl_image_tag(review.picture.url, :width=>200, :height=>200, :gravity=>"south_east", :crop=>"crop", class: "thumbnail") %>
                    </div>
                  </div>
                  <br>
                </ul>
                <p class="accepted">
                  <strong><%= link_to "Delete", review_path(review), method: :delete, data: { confirm: "Are you sure?" }%>
                  </strong>
                  <br>
                </p>

              <% end %>
            <% end %>

          </div>
        </div>
      </div>



</div>
</div>
