<div class="container show text-center">
  <div class="row">

    <div class="picture-recipe stick col-xs-12 col-lg-4">
      <%= if @recipe.picture.url == nil
        image_tag('https://placeholdit.co//i/500x500?')
      else
        cl_image_tag @recipe.picture.url
      end
      %>
      <p class="share"><strong>SHARE THIS RECIPE </strong></p>
      <%= social_share_button_tag(@recipe.name, 'data-twitter-title' => "Yum-yum, this recipe seems delicious !! #{@recipe.name}", 'data-facebook-title' => "Yum-yum, this recipe seems delicious !! #{@recipe.name}" )%>
    </div>

    <div class="col-xs-12 col-lg-8">

      <div class="row">

        <div class="recipe-title col-xs-12 col-lg-12 redirect-left">
          <h3><%= @recipe.name %></h3>
        </div>

        <% @recipe.doses.each do |dose| %>
          <div class="card-ingredients col-xs-6 col-lg-3">
            <%= if dose.ingredient.picture.url == nil
              image_tag('https://placeholdit.co//i/185x185?')
            else
              cl_image_tag(dose.ingredient.picture.url, id: "ingredient-picture")
            end
            %>
            <div class="card-ingredients-description">
              <p><%= dose.ingredient.name %>: <span class='qty'><%= dose.quantity %></span><%= ' ' + dose.unit if dose.unit %></p>
              <div class="initial-qty" style='display: none;'><%= dose.quantity %></div>
            </div>
          </div>
        <%end%>

        <div class="infos col-xs-6 col-lg-12">
          <div class="number-person-eat redirect-left">
            <form class="form-inline select-nbr">
              <div class="form-group">
                <label class="col-sm-2 control-label"> <i class="fa fa-user" aria-hidden="true"> </i></label>
                <select class="form-control" id='count'>
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value='3'>3</option>
                  <option value='4'>4</option>
                  <option value='5'>5</option>
                  <option value='6'>6</option>
                  <option value='7'>7</option>
                  <option value='8'>8</option>
                </select>
              </div>
            </form>
          </div>
          <div class="cooking-time redirect-left">
            <h4><i class="fa fa-clock-o" aria-hidden="true"></i> Cooking : <%= @recipe.cooking_time %></h4>
          </div>
          <div class="preparation-time redirect-left">
            <h4><%= if @recipe.preparation_time == nil
            else
              "Preparation: #{@recipe.preparation_time}"
            end
            %></h4>
          </div>
        </div>



        <div class="description-recipe col-xs-12 col-lg-12 redirect-left" >
          <p><%= @recipe.description %></p>
        </div>

        <div class="col-xs-12 col-lg-12 redirect-left" >
          <%= simple_form_for [@recipe, @review] do |f| %>
          <%= f.input :content, placeholder: 'write your review',label:"Add your review!"%>
          <%= f.input :rating ,placeholder: 'rate this recipe.',label:"Rate this recipe between 0 and 5!" %>
          <%= f.input :picture ,label: false %>
          <%= f.input :picture_cache, as: :hidden %>

          <%= f.submit "add a review", class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class="col-xs-12 col-lg-12" >
          <h3><b>  <% arr = [] %>
            <%if @recipe.reviews.size != 0 %>
            <% @recipe.reviews.each do |review| %>
            <% arr << review.rating %>
            <% end %>
            <% average = arr.inject{ |sum, el| sum + el }.to_f / arr.size %>
            Average rating on this recipe: <%= average.round(1) %> / 5</b></h3>
            <%end%>

            <br>
            <br>
        </div>

        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <% @recipe.reviews.each do |review| %>
              <ul class="inbox" id="content">
                <div class ="message-box">
                  <% avatar_url = review.user.profile.picture.url || "http://placehold.it/30x30" %>
                  <%= image_tag avatar_url, class: "avatar" %>
                  <p class="date"> <strong><%= review.user.profile.user_name %> </strong> <br> <%= review.rating  %> / 5  </p>

                  <li class="message">
                    <%=h truncate(review.content, :length => 200) %>
                  </li>
                  <div class ="card-reviews">
                    <%= if review.picture.url == nil
                    else
                    cl_image_tag review.picture.url, class: "card-reviews"
                    end %>
                  </div>
                  <br>
                </div>
              </ul>
              <p class="accepted"> <strong><%= link_to "Delete", review_path(review), method: :delete, data: { confirm: "Are you sure?" }%> </strong><br> </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <%= content_for :after_js do %>
  <script>

    $(document).ready(function() {
      $('.select-nbr').change(function() {
        var multiplier = parseInt($('#count').val());
        $('.qty').each(function() {
          var qty = parseInt($(this).parent().siblings('.initial-qty').text());
          $(this).html( qty * multiplier);
        });
      });
    });
  </script>
  <% end %>


