<div class="container text-center">
  <div class="row">
    <div class="picture-recipe col-xs-12 col-lg-4">
      <%= if @recipe.picture.url == nil
        image_tag('https://placeholdit.co//i/500x500?')
      else
        cl_image_tag @recipe.picture.url
      end
      %>
    </div>

    <div class="col-xs-12 col-lg-8">

      <div class="row">

        <div class="recipe-title col-xs-12 col-lg-12 redirect-left">
          <h3><%= @recipe.name %></h3>
        </div>

        <% @recipe.doses.each do |dose| %>
        <div class="card col-xs-6 col-lg-3">
          <%= if dose.ingredient.picture.url == nil
            image_tag('https://placeholdit.co//i/150x150?')
          else
            cl_image_tag dose.ingredient.picture.url
          end
          %>
          <div class="card-description">
            <h2><%= dose.ingredient.name %>: <%= dose.quantity %><%= dose.unit %></h2>
          </div>
        </div>
        <% end %>

        <div class="infos col-xs-6 col-lg-12">
          <div class="number-person-eat redirect-left">
            <h4> For 1 person </h4>
          </div>

          <div class="preparation-time redirect-left">
            <h4><%= if @recipe.preparation_time == nil
            else
              "Preparation: #{@recipe.preparation_time}"
            end
            %></h4>
          </div>

          <div class="cooking-time redirect-left">
            <h4> Cooking : <%= @recipe.cooking_time %></h4>
          </div>
        </div>

        <div class="description-recipe col-xs-12 col-lg-12 redirect-left" >
          <p><%= @recipe.description %></p>
        </div>
      </div>
    </div>


  </div>

</div>
